{% extends 'blocks/navbar.html.twig' %}

{% block title %}Welcome {{ nom }}!{% endblock %}

{% block body %}
{{ parent() }}
    <h1 class="display-4">welcome {{ nom }}!</h1>
{% endblock %}
{% block footer %}
    <p>Fin de la page<p>
    {{ parent() }}
{% endblock %}